# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store

# Ignore local database
db.sqlite3

# (Optional) Ignore static and media files if needed
staticfiles/
media/

