# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.log

# Ignore environment variables
.env
*.env

# Ignore local database
db.sqlite3

# Ignore static and media files (optional, as they can be generated again)
staticfiles/
media/

# Ignore macOS system files
.DS_Store

