# Ignore system files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env

# Ignore database
db.sqlite3

# Ignore static and media files (if using cloud storage like AWS S3)
staticfiles/
media/

